# Python cache and compiled files
__pycache__/
*.py[cod]
*.pyo

# Virtual environment
venv/

# Jupyter notebook checkpoints
.ipynb_checkpoints/

# Model files / Pickle backups
*.pkl

# Logs
*.log

# OS-specific files
.DS_Store
Thumbs.db

# Environment / IDE files
.env
*.idea/
*.vscode/

